@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    background-color: white;
    height: 30vh;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
}
.scrollbarHide{
    scrollbar-width: none;
    -ms-overflow-style: none;
    }
    .scrollbarHide::-webkit-scrollbar{
      display:none; 
      }
    
    .circle{
      background-color: #9ca3af69;
      border-radius: 50%;
      cursor: pointer;
    }
    .ccontent{
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex-direction: column;
    }

.wrapper{
    width: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
    display: flex;
  
}
.vidcards{
    flex: none;
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    scroll-snap-align: start;
    margin-bottom: 15px;
}

.badge{
    color: white;
    font-weight: bolder;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    border-radius: 20px;
    padding: 5px;
}

.scrollBar::-webkit-scrollbar{
    width: 15px;
}
.scrollBar::-webkit-scrollbar-track{
    background: #d1e5ff;
    border-radius: 20px;
}
.scrollBar::-webkit-scrollbar-thumb{
    background: rgba(120, 120, 230, 0.621);
    border-radius: 20px;

}